AISystem/EOS.WebService/Service References/MESSERVICES_SLDB/LoadometerWeighingTransferWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://cost.soap.ws.sunshine.com/" targetNamespace="http://cost.soap.ws.sunshine.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://cost.soap.ws.sunshine.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="BaseResponse" type="tns:baseResponse" />
      <xs:element name="CommonRequest" type="tns:baseRequest" />
      <xs:element name="executeLoadometerWeighingTransfer" type="tns:executeLoadometerWeighingTransfer" />
      <xs:element name="executeLoadometerWeighingTransferResponse" type="tns:executeLoadometerWeighingTransferResponse" />
      <xs:complexType name="executeLoadometerWeighingTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:loadometerWeighingTransferRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loadometerWeighingTransferRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseRequest">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="lineRequestList" nillable="true" type="tns:loadometerWeighingTransferLineRequest" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="userId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loadometerWeighingTransferLineRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="batch" type="xs:string" />
          <xs:element minOccurs="0" name="dateTime" type="xs:string" />
          <xs:element minOccurs="0" name="item" type="xs:string" />
          <xs:element minOccurs="0" name="qty" type="xs:string" />
          <xs:element minOccurs="0" name="storageLocation" type="xs:string" />
          <xs:element minOccurs="0" name="transferType" type="xs:string" />
          <xs:element minOccurs="0" name="vendor" type="xs:string" />
          <xs:element minOccurs="0" name="workShop" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executeLoadometerWeighingTransferResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:baseResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:long" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeLoadometerWeighingTransferIn">
    <wsdl:part name="parameters" element="tns:executeLoadometerWeighingTransfer" />
  </wsdl:message>
  <wsdl:message name="executeLoadometerWeighingTransferOut">
    <wsdl:part name="executeLoadometerWeighingTransferResponse" element="tns:executeLoadometerWeighingTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="LoadometerWeighingTransferWS">
    <wsdl:operation name="executeLoadometerWeighingTransfer" parameterOrder="parameters">
      <wsdl:input message="tns:executeLoadometerWeighingTransferIn" />
      <wsdl:output message="tns:executeLoadometerWeighingTransferOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LoadometerWeighingTransferWSBinding" type="tns:LoadometerWeighingTransferWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="executeLoadometerWeighingTransfer">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoadometerWeighingTransferWSService">
    <wsdl:port name="LoadometerWeighingTransferWSPort" binding="tns:LoadometerWeighingTransferWSBinding">
      <address location="http://SJYGMEQAS02:50000/webservicewar/LoadometerWeighingTransferWSService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>