AISystem/EOS.WebService/Service References/SAPSERVICES_PURCHASE/SI_Z_ME_OAPURCHASE1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://sjyg.com/mes2erp/Z_ME_OAPURCHASE/if" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_Z_ME_OAPURCHASE" targetNamespace="http://sjyg.com/mes2erp/Z_ME_OAPURCHASE/if" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Z_ME_OAPURCHASE" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Z_ME_OAPURCHASE">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_ZTTQM001">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZTTQM001" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_ME_OAPURCHASE.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="E_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" name="E_MESSAGE">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="T_ZTTQM001">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZTTQM001" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="date">
        <xsd:union xmlns="urn:sap-com:document:sap:rfc:functions" memberTypes="xsd:date rfc:genericDate" />
      </xsd:simpleType>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZTTQM001">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MANDT">
            <xsd:annotation>
              <xsd:documentation>Client</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WERKS">
            <xsd:annotation>
              <xsd:documentation>Plant</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EBELN">
            <xsd:annotation>
              <xsd:documentation>Purchasing Document Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EBELP">
            <xsd:annotation>
              <xsd:documentation>Item Number of Purchasing Document</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MATNR">
            <xsd:annotation>
              <xsd:documentation>Material Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FLOW_CODE">
            <xsd:annotation>
              <xsd:documentation>0A流程编码</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MBLNR">
            <xsd:annotation>
              <xsd:documentation>Number of Material Document</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TASK_TYPE">
            <xsd:annotation>
              <xsd:documentation>任务类型</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="36" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TASK_STATUS">
            <xsd:annotation>
              <xsd:documentation>任务状态</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="INSPSAMPLE">
            <xsd:annotation>
              <xsd:documentation>检验次数</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="INSPECTION_TYPE">
            <xsd:annotation>
              <xsd:documentation>检验类型</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="36" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MAKTX">
            <xsd:annotation>
              <xsd:documentation>Material Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PRUEFLOS">
            <xsd:annotation>
              <xsd:documentation>Inspection Lot Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="POUND_ORDER">
            <xsd:annotation>
              <xsd:documentation>磅单号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DELIVERY_DATE" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>来货日期</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CLOSE_REASON">
            <xsd:annotation>
              <xsd:documentation>关闭原因</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYNCHRONOUS">
            <xsd:annotation>
              <xsd:documentation>同步标识</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EXPLANATION">
            <xsd:annotation>
              <xsd:documentation>任务说明</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RESULT_JUDGE">
            <xsd:annotation>
              <xsd:documentation>判定结果</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PROCESS_JUDGE">
            <xsd:annotation>
              <xsd:documentation>处理方式</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="INSPECT_START_TIME" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>检验开始时间</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="INSPECT_END_TIME" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>检验结束时间</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="INSPECTOR">
            <xsd:annotation>
              <xsd:documentation>检验人员</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREATED_USER">
            <xsd:annotation>
              <xsd:documentation>创建人</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREATED_DATE_TIME" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>创建时间</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CONFIRMED_USER">
            <xsd:annotation>
              <xsd:documentation>确认人</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CONFIRMED_DATE_TIME" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>确认时间</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MODIFIED_USER">
            <xsd:annotation>
              <xsd:documentation>最后更新人</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MODIFIED_DATE_TIME" type="rfc:date">
            <xsd:annotation>
              <xsd:documentation>最后更新时间</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
            <xsd:annotation>
              <xsd:documentation>状态</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:annotation>
              <xsd:documentation>消息</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="36" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CHARG">
            <xsd:annotation>
              <xsd:documentation>Batch Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZRETURN">
            <xsd:annotation>
              <xsd:documentation>退货原因</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LONG_MATERIAL">
            <xsd:annotation>
              <xsd:documentation>是否属于检验时间较长物料</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="GROSS_WEIGHT" type="xsd:double">
            <xsd:annotation>
              <xsd:documentation>毛重/到货数量</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="STOCK_LOCATION">
            <xsd:annotation>
              <xsd:documentation>Storage location</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PACKAGES">
            <xsd:annotation>
              <xsd:documentation>包装件数</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUYER">
            <xsd:annotation>
              <xsd:documentation>采购员</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ITEM_LINE">
            <xsd:annotation>
              <xsd:documentation>订单行项目</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACCEPTANCE">
            <xsd:annotation>
              <xsd:documentation>验收人员</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ACTUAL_UCTION">
            <xsd:annotation>
              <xsd:documentation>实际扣重</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LADING_NUMBER">
            <xsd:annotation>
              <xsd:documentation>提单号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IC_NUMBER">
            <xsd:annotation>
              <xsd:documentation>IC卡号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.Z_ME_OAPURCHASE">
    <wsdl:documentation />
    <wsdl:part name="Z_ME_OAPURCHASE" element="rfc:Z_ME_OAPURCHASE" />
  </wsdl:message>
  <wsdl:message name="rfc.Z_ME_OAPURCHASE.Response">
    <wsdl:documentation />
    <wsdl:part name="Z_ME_OAPURCHASE.Response" element="rfc:Z_ME_OAPURCHASE.Response" />
  </wsdl:message>
  <wsdl:portType name="SI_Z_ME_OAPURCHASE">
    <wsdl:documentation />
    <wsdl:operation name="SI_Z_ME_OAPURCHASE">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Z_ME_OAPURCHASE" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.Z_ME_OAPURCHASE" />
      <wsdl:output message="p1:rfc.Z_ME_OAPURCHASE.Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Z_ME_OAPURCHASEBinding" type="p1:SI_Z_ME_OAPURCHASE">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Z_ME_OAPURCHASE">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Z_ME_OAPURCHASEService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_Z_ME_OAPURCHASEBinding">
      <address location="http://poqas01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_Z_ME_OAPURCHASEBinding">
      <address location="https://poqas01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MES&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_ME_OAPURCHASE&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Fmes2erp%2FZ_ME_OAPURCHASE%2Fif" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>