AISystem/EOS.WebService/Service References/SAPSERVICES_108ZS/SI_ZFMM108_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://sjyg.com/unmanned2erp/ZFMM108/if" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_ZFMM108_OUT" targetNamespace="http://sjyg.com/unmanned2erp/ZFMM108/if" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ZFMM108_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZFMM108">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="I_EKORG">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="I_LIFNR">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="T_RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_TAB">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSMM108_TAB" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZFMM108.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="T_RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="T_TAB">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSMM108_TAB" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAPIRET2">
        <xsd:annotation>
          <xsd:documentation>Return Parameter</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:annotation>
              <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:annotation>
              <xsd:documentation>Message Class</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER">
            <xsd:annotation>
              <xsd:documentation>Message Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:annotation>
              <xsd:documentation>Message Text</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:annotation>
              <xsd:documentation>Application log: log number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO">
            <xsd:annotation>
              <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d+" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:annotation>
              <xsd:documentation>Message Variable</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:annotation>
              <xsd:documentation>Message Variable</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:annotation>
              <xsd:documentation>Message Variable</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:annotation>
              <xsd:documentation>Message Variable</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:annotation>
              <xsd:documentation>Parameter Name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>Lines in parameter</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FIELD">
            <xsd:annotation>
              <xsd:documentation>Field in parameter</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:annotation>
              <xsd:documentation>Logical system from which message originates</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSMM108_TAB">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LIFNR">
            <xsd:annotation>
              <xsd:documentation>Vendor's account number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EKORG">
            <xsd:annotation>
              <xsd:documentation>Purchasing organization</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NAME1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MINDK">
            <xsd:annotation>
              <xsd:documentation>Minority Indicator</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MTEXT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NULL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZFMM108">
    <wsdl:documentation />
    <wsdl:part name="ZFMM108" element="rfc:ZFMM108" />
  </wsdl:message>
  <wsdl:message name="rfc.ZFMM108.Response">
    <wsdl:documentation />
    <wsdl:part name="ZFMM108.Response" element="rfc:ZFMM108.Response" />
  </wsdl:message>
  <wsdl:portType name="SI_ZFMM108_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_ZFMM108_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZFMM108_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZFMM108" />
      <wsdl:output message="p1:rfc.ZFMM108.Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZFMM108_OUTBinding" type="p1:SI_ZFMM108_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ZFMM108_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZFMM108_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ZFMM108_OUTBinding">
      <address location="http://poprd01.sunshinepaper.com.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM108_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM108%2Fif" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ZFMM108_OUTBinding">
      <address location="https://poprd01.sunshinepaper.com.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZFMM108_OUT&amp;interfaceNamespace=http%3A%2F%2Fsjyg.com%2Funmanned2erp%2FZFMM108%2Fif" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>